<div class="jumbotron">
    <div class="container text-center">
        <h2><b>Employee Management System</b></h2>
        <p>Manage your employee's data - <br id="break-line"/>"A company’s most valuable asset is its employees."</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h3><b>Companies associated with us</b></h3><br>
    <div class="row">
        <div class="col-sm-3">
            <h4>TATA</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>Zensar</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>Amdocs</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>Apple</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <h4>Microsoft</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>Globant</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>Postman</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h4>JP Morgan</h4>
            <img src="https://picsum.photos/200" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>